/*
 * author: Awedoo Studio
 * template: Bicolor - Creative Coming Soon Template
 * version: v1.1
 * url: http://themeforest.net/user/awedoo
*/

/**** place custom style at this file ****/

/* Material Colors - https://www.google.ru/design/spec/style/color.html#color-color-palette

    Red         : #F44336;
    Pink        : #E91E63;
    Purple      : #9C27B0;
    Deep Purple : #673AB7;
    Indigo      : #3F51B5;
    Blue        : #2196F3;
    Light Blue  : #03A9F4;
    Dark Blue   : #326394;
    Cyan        : #00BCD4;
    Teal        : #009688;
    Green       : #4CAF50;
    Light Green : #8BC34A;
    Lime        : #CDDC39;
    Yellow      : #FFEB3B;
    Amber       : #FFC107;
    Orange      : #FF9800;
    Deep Orange : #FF5722;
    Brown       : #795548;
    Grey        : #9E9E9E;
    Blue Grey   : #607D8B;

*/

/* Home */

.bg-home,
.bg-home nav:before {
    /*background-color: #3F51B5;*/
    background: url('../img/giphy.gif') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #E1E2E4;
}

.bg-home *:not(i):not(nav):after,
.bg-home *:not(i):not(nav):before,
.bg-home .btn:hover,
.bg-home .btn-inverse{
    background-color: #252525;
    border-color: #252525;
    color: #FFEB3B;
}

/* Subscribe */

.bg-subscribe,
.bg-subscribe nav:before {
    background-color: #252525;
    color: #ffffff;
}

.bg-subscribe *:not(i):not(nav):after,
.bg-subscribe *:not(i):not(nav):before,
.bg-subscribe .btn:hover,
.bg-subscribe .btn-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #252525;
}

/* About */

.bg-about,
.bg-about nav:before {
    background-color: #F44336;
    color: #ffffff;
}

.bg-about *:not(i):not(nav):after,
.bg-about *:not(i):not(nav):before {
    background-color: #ffffff;
}

/* Contact */

.bg-contact,
.bg-contact nav:before {
    background-color: #dedede;
    color: #252525;
}

.bg-contact *:not(i):not(nav):after,
.bg-contact *:not(i):not(nav):before,
.bg-contact .btn:hover,
.bg-contact .btn-inverse {
    border-color: #252525;
    background-color: #252525;
    color: #dedede;
}

.bg-contact input,
.bg-contact textarea {
    border-color: #252525;
}

/* Services */

.bg-services,
.bg-services nav:before {
    background-color: #326394;
    color: #ffffff;
}

.bg-services *:not(i):not(nav):after,
.bg-services *:not(i):not(nav):before {
    background-color: #ffffff;
}

body, html {
  padding: 0;
  margin:  0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}